[user]
	name = connorbeheydt
	email = connorbeheydt@gmail.com
[core]
    editor = nvim

[alias]
    st = status -s
    sta = status
    conf = config --global --edit
    rh = reset HEAD
    aa = add -A
    pr = pull --rebase
    br = branch
    bra = branch -a
    amend = commit -a --amend


[color]
	ui = true
